
body{
    background-color:#131419;
    }
    
    
    
.canvas{

    position:absolute;
    
    }
    
    
.export{
    
    position:absolute;
    bottom:0%;
    left:0%;
    
    }
    
    